.Container{
    height: 400px;
    width: 500px;
    background: white;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    box-shadow: 0px 10px 50px rgb(233, 181, 37)
}
.ProductImage,.photo{
    height: 200px;
    width: 300px;
    object-fit: contain;
}
.footBar{
    display: flex;
    width: 300px;
    height: 50px;
    padding: 2px;
    margin-top: 5px;

}
.LikeImage{
    margin-left: 180px;
    height: 50px;
    width: 50px;
}
.likeimg,.ProductPrice{
    height: 50px;
    width: 50px;
}
.Container:hover{
    box-shadow: 0px 10px 50px rgb(37,50,233,1);
    
  }
.descriptionBar{
    margin-top: 1px;
    padding: 2px;
    height: 80px;
}
.contact{
    margin-top: 9px;
    background-color:rgb(233, 181, 37);
}