.HomePageContainer{
    border-radius: 3px;
    width: 100%;
    margin: 0 auto;
    

    text-align: center;
    background-color: white;
    justify-content: space-around;
    box-shadow: 0px 10px 50px rgb(141, 142, 158)
}
.mainview{
    display: flex;
    
}
.forScroll{
   /* overflow-x: scroll;
    scroll-behavior:smooth;*/
    margin-left: 15px;
    width:100%;

    
}
